* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap {
  position: relative;
  width: 390px;
  height: 680px;
  background: #fff;
  border: 1px solid red;
  border-radius: 3px;
}
.nav {
  width: 20%;
  height: 80%;
  /* border: 1px solid red; */
  padding: 10px 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #F0F0F0;
}
.nav .nav1 .nav1_iconbox {
  /* border: 1px solid red; */
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav .nav1:nth-child(1) .nav1_iconbox i {
  margin: 10px;
  font-size: 28px;
  color: #ADAEB2;
}
.nav .nav1 .nav1_iconbox i em {
  width: 7px;
  height: 7px;
  border: 1px solid red;
  border-radius: 5px;
  background: red;
  color: #fff;
  font-size: 1px;
}
.nav .nav1:nth-child(2) .nav1_iconbox i {
  font-size: 16px;
  margin: 10px;
}
.header {
  width: 80%;
  float: right;
  border: 1px solid #fff;
}
.header .header_icon {
  float: right;
  padding: 0 10px;
}
.header .header_icon i {
  font-size: 13px;
  color: #ADAEB2;
}
.menu {
  width: 80%;
  height: 8%;
  float: right;
  border: 1px solid #fff;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu_icon i {
  margin: 0 5px;
}
.chatlist {
  /* display: block; */
  border: 1px solid #fff;
  width: 80%;
  float: right;
}
.chatlist .detail_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.chatlist .detail_img {
  width: 50px;
  height: 50px;
  border: 1px solid #ADAEB2;
  border-radius: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.chatlist .detail_chat {
  margin: 0 5px;
}
.chatlist .detail_chat h3 {
  font-size: 15px;
}
.chatlist .detail_chat p {
  font-size: 12px;
}
.chatlist .detail_day {
  padding: 5px;
}
.chatlist .detail_day span {
  font-size: 3px;
}
.chatlist .detail_day em {
  font-size: 3px;
  border: 1px solid red;
  background: red;
  border-radius: 6px;
  color: #fff;
}
.adv {
  display: block;
  /* border: 1px solid red; */
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FEFFFF;
}
.adv .adv_img {
  margin: 10px;
}
.adv .adv_detail h3 {
  font-size: 16px;
}
.adv .adv_detail p {
  font-size: 12px;
}








